
body, html {
    margin: 0;
    overflow: hidden;
}

.menu {
    display: none;
}

#app {
    display: flex;
    flex-direction: row;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.panel {
    height: 100vh;
}

.right {
    background-color: aliceblue;
    width: 80vw;
    height: calc( 100% - 50px );
    border-left: 1px solid rgb(199, 199, 199);
}

.player{
    user-select: none;
    width: 100%;
    height: 50px;
    background-color: rgb(60, 155, 233);
}

.player .controler{
    max-width: 300px;
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    top: 35%;
}

.timebar{
    width: 100px;
    height: 6px;
    border-radius: 50px;
    background-color: rgb(148, 148, 148);
    cursor: pointer;
}

.timebar-progress{
    position: relative;
    height: 6px;
    width:0%;
    background-color: rgb(197, 197, 197);
}
.timebar:hover .timebar-progress>.ball{
    display: block;
    position: relative;
    height: 14px;
    width: 14px;
    top: -4px;
    left: calc( 100% - 3px );
    border-radius: 50%;
    user-select: none;
    background-color: rgb(197, 197, 197);
    cursor: grab;
}


.fas{
    cursor: pointer;
}

.fas.active{
    display: none;
}

.left {
    background-color: rgb(144, 203, 255);
    width: 20vw;
}

.left * {
    user-select: none;
}

.add {
    margin-top: 10px;
    align-self: center;
    text-align: center;
    background-color: rgba(44, 170, 219, 0.76);
    cursor: pointer;
    width: 5em;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid rgba(146, 146, 146, 0.671);
    transition: all 0.4s ease;
    user-select: none;
}

.add:hover {
    background-color: rgba(44, 169, 219, 0.541);
    border: 1px solid rgba(146, 146, 146, 0.884);
    transition: all 0.4s ease;
}

.left .controler {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

audio::-webkit-media-controls-panel {
    z-index: 2;
    background-color: rgb(144, 203, 255);
}

.list {
    height: 90vh;
    background-color: antiquewhite;
    overflow-y: scroll;
}

.list::-webkit-scrollbar {
    width: 1px;
}

.list::-webkit-scrollbar-track {
    opacity: 1;
    background-color: rgb(185, 185, 185);
}

.list::-webkit-scrollbar-thumb {
    background-color: rgb(97, 97, 97);
}

.list-item {
    display: flex;
    flex-direction: column;
    user-select: none;
    background-color: aliceblue;
    padding: 10px;
    border-top: 1px solid rgb(196, 196, 196);
    transition: background-color 0.8s ease;
    height: 4.3em;
    overflow: hidden;
    cursor: pointer;
}

.list-item:hover {
    content: "";
    background-color: rgb(224, 224, 224);
    transition: background-color 0.5s ease;
}

.list-item span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 3px;
}

.list-item.active {
    background-color: rgba(182, 223, 250, 0.644);
}

.col {
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

form{
    padding: 30px;
}

form .row{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border: 1px solid black;
    width: 100%;
    border-radius: 8px;
    justify-content: space-between;
    overflow-x: hidden;
}

.row *{
    border-radius: 0px;
}

.row textarea ,.row input{
    font-size: 1.2em;
    outline: none;
    border: none;
    background-color: rgba(240, 248, 255, 0);
}

.row textarea{
    resize: none;
    padding: 10px;
    width: 85%;
}
.row input[type = button]{
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    right: 0px;
    margin-right: 0px;
    border-radius: 0px;
    background-color: rgb(164, 206, 255);
    width: 15%;
    cursor: pointer;
}




.slide-switch {
    position: relative;
    border-radius: 10px;
    width: 40px;
    height: 20px;
    left: 10px;
    user-select: none;
    background-color: rgb(78, 169, 248);
    cursor: pointer;

}

.slide-switch.active {
    background-color: rgb(151, 151, 151);
}

.slide-switch.active .ball {
    user-select: none;
    margin-left: calc(100% - 20px);
    background-color: rgb(231, 40, 40);
    transition: margin 0.5s ease;
}

.slide-switch .ball {
    position: relative;
    height: 20px;
    width: 20px;
    margin-left: 0px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: margin 0.5s ease;
}