body,html{
    margin: 0;
    overflow: hidden;
}
.menu{
    display: none;
}
#app{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.panel{
    height: 100vh;
}
.right{
    background-color: aliceblue;
    width: 80vw;
    height: 100%;
    border-left: 1px solid rgb(199, 199, 199);
    padding: 20px;
}
.left{
    background-color: rgb(144, 203, 255);
    width: 20vw;
    height: 100%;
}
.add{
    margin-top: 10px;
    align-self: center;
    text-align: center;
    background-color: rgba(44, 170, 219, 0.76);
    cursor: pointer;
    width: 5em;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid rgba(146, 146, 146, 0.671);
    transition: all 0.4s ease;
    user-select: none;
}
.add:hover{
    background-color: rgba(44, 169, 219, 0.541);
    border: 1px solid rgba(146, 146, 146, 0.884);
    transition: all 0.4s ease;
}
.controler{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
audio::-webkit-media-controls-panel {
    background-color: rgb(144, 203, 255);
}
.list{
    height: 90vh;
    background-color: antiquewhite;
    overflow-y: scroll;
}
.list::-webkit-scrollbar{
    width: 1px;
}
.list::-webkit-scrollbar-track{
    opacity: 1;
    background-color: rgb(185, 185, 185);
}
.list::-webkit-scrollbar-thumb{
    background-color: rgb(97, 97, 97);
}
.list-item{
    display: flex;
    flex-direction: column;
    user-select: none;
    background-color: aliceblue;
    padding: 10px;
    border-top: 1px solid rgb(196, 196, 196);
    transition: background-color 0.8s ease;
    height: 4.3em;
    overflow: hidden;
    cursor: pointer;
}
.list-item:hover {
    content: "";
    background-color: rgb(224, 224, 224);
    transition: background-color 0.5s ease;
}
.list-item span{
    display : inline-block;
    width: 100%;
    overflow : hidden;
    text-overflow: ellipsis;
    white-space : nowrap;
    margin-bottom: 3px;
}
.list-item.active{
    background-color: rgba(182, 223, 250, 0.644);
}
.col {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.row input{
    outline: none;
    background-color: aliceblue;
    border: 0px;
    margin-top: 10px;
}
.row input:nth-child(1){
    width: 20em;
}
.row input:nth-child(2){
    width: 6.8em;
}
.row input[type=text]{
    border-top:1px solid black ;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-left: 15px;
    width: 70%;
    font-size: 1.2em;
}
.row input[type=button]{
    cursor: pointer;
    border-top:1px solid black ;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 1px solid rgba(0, 0, 0, 0.233);
    background-color: rgb(197, 228, 255);
    text-align: left;
    font-size: 1.2em;
    transition: background-color 0.4s ease;
}

.row input[type=button]:hover{
    background-color: rgb(134, 199, 255);
    transition: background-color 0.4s ease;
}


.slide-switch{
    position: relative;
    border-radius: 10px;
    width: 40px;
    height: 20px;
    left: 10px;
    background-color: rgb(78, 169, 248);
    cursor: pointer;

}
.slide-switch.active{
    background-color: rgb(151, 151, 151);
}
.slide-switch.active .ball{
    margin-left: calc(100% - 20px);
    background-color: rgb(231, 40, 40);
    transition: margin 0.5s ease;
}
.ball{
    position: relative;
    height: 20px;
    width: 20px;
    margin-left: 0px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: margin 0.5s ease;
}