@media screen and (max-width: 540px) {

    .menu {
        position: absolute;
        z-index: 5;
        display: block;
        top: 50%;
        color: black;
        background-color: rgb(184, 237, 250);
        font-size: 1.5em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px 5px 6px 3px;
    }
    .menu i{
        color: rgb(103, 182, 250);
        transform: rotateZ(0deg);
        transition: transform 0.5s ease;
    }
    .menu i.active{
        color: rgb(64, 166, 255);
        transform: rotateZ(-180deg);
        transition: transform 0.5s ease;
    }

    form .row{
        flex-direction: column;
    }
    .row input[type = button]{
        right: 0px;
        margin-right: 0px;
        width: 100%;
        cursor: pointer;
    }

    .right {
        width: 100vw;
        height: calc(-50px + var(--vh, 1vh) * 100 );
    }

    .left {
        position: absolute;
        z-index: 5;
        background-color: rgb(144, 203, 255);
        width: 100vw;
        top: 0px;
        left: -100vw;
        transition: left 0.5s ease;
    }

    .left.active {
        left: 0vw;
        transition: left 0.5s ease;
    }
    .left .controler{
        margin-top: 5px;
    }
    .list{
        height: 93vh;
        height: calc(var(--vh, 1vh) * 93);
    }
}
@media screen and (max-width:375px) {
    .list{
        height: 90vh;
        height: calc(var(--vh, 1vh) * 90);
    }
}