@media screen and ( min-width: 541px ) and ( max-width: 1200px ) {
    .right {
        background-color: aliceblue;
        border-left: 1px solid rgb(199, 199, 199);
        padding:20px;
        width: calc( 60vw - 40px );
    }

    .left {
        background-color: rgb(144, 203, 255);
        width: 40vw;
    }
    .list{
        height: 95vh;
        height: calc(var(--vh, 1vh) * 95);
    }
}